__pycache__
code/py
code/.idea/inspectionProfiles/Shelf
code/.idea/inspectionProfiles/workspace.xml
wastelands/*
code/.idea/migrids-lite.iml
code/.idea/misc.xml
.venv/
code/.idea/
.ipynb_checkpoints
.idea
/.idea/*

